body{
    margin: 0px;
    padding:0px;
    background-image: url(halofondo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center -340px;
    background-color: rgb(0, 0, 0);

}
.navegacion{
    height: 735px;
    width: 66px;
    background-color: aliceblue;
    display: block;
    
}
.botones {
   display:inline;
}
header {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15pt;
    text-align: left;
    padding: 0px 40px;
    display: inline;
}
 .central{
    margin: 100px auto;
    width: 853.850px; 
    height: 11311.5px;
    padding-top: 24px;
    padding-left: 36px;
    font-family: 'Arial', sans-serif; 
    color: white;
    background-color: #0e191a;  
    display:flexbox;  
        }
#dicho{
   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: left;
    display: inline;
}
#dicho2{
    font-size: 15px;
    text-align: left;
    display: flex;
}
.intros{ 
    width: 250px;
    height: auto;
    display: inline-block;
}
.intro img{
    width: 180px;
    height: 80px;
 }
 div #infext{
   float: right;
   margin-left: 18px;
   margin-bottom: 18px;
   padding: 0px;
   width: 268.4px;
   height: 1225.05px;
   background-color: white ;
   text-align: center;
   color: black
 }
 div #infext h3{
    background-color:#2c403a;
    color: black;
 }
 
.intro img:hover{
   width: 250px;
   height: 90px;
}
.historia p{
    width: 360px; 
    padding: 20px;
}
p{
    text-align: left;
}
img{
    padding: 30px;
}
